main{
    display: flex;
    width:100%;
}
section{
    width:68%;
    border: 1px solid #ddd;
    margin-right: 15px;
    padding: 8px;
}
aside{
    width: 30%;
    border: 1px solid #ddd;
    padding: 8px;
}